<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="incarlopsa.com.appincarlopsa">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_incarlopsa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_incarlopsa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VGeneral"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".VLogin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".VCabeceraChat"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VChat"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VCabeceraPublicacion"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".VPublicacion"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".VCrearNuevoChat"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".VCrearNuevaPublicacion"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".VMostrarImagen">
        </activity>
    </application>

</manifest>